* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: center;
  justify-content: center;
  align-items: center;
 
}

#grid-container {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 8px solid black;
}

.grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  transition: 0.3s;
}


.grid-items:nth-child(1),
.grid-items:nth-child(3),
.grid-items:nth-child(6),
.grid-items:nth-child(8),
.grid-items:nth-child(9),
.grid-items:nth-child(11) {
  background: white;
  color: black;
}


.grid-items:nth-child(2),
.grid-items:nth-child(4),
.grid-items:nth-child(5),
.grid-items:nth-child(7),
.grid-items:nth-child(10),
.grid-items:nth-child(12) {
  background:black;
  color: white;
}